<footer class="text-center mx-12">
  <p
    class="leading-[27px] tracking-[1.8px] text-[14px] lg:text-[18px] font-normal lg:mt-24 mx-4 pb-12 font-[DicSans]"
  >
    Ambos Finance is a division of PREDIXIA-FZEDSO-DDP-A5-D-FLEX-1061<br />

    Dubai Digital Park - Office A5 - Dtec - Dubai Silicon Oasis
  </p>
</footer>
